# Database
DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/eduplat?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET="replace-with-a-random-32-character-secret"
NEXTAUTH_URL="http://localhost:3000"

# OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# App
FRONTEND_URL="http://localhost:3000"

# Email (required in production)
BREVO_API_KEY=""
BREVO_FROM_EMAIL="noreply@example.com"
BREVO_FROM_NAME="Eduplat"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Cloudinary (required in production uploads)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
